{% load crispy_forms_tags %}
{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="{% static "map/css/vendor/leaflet.css" %}" type="text/css" media="screen" rel="stylesheet" />
    <link href="{% static "map/css/osm_field.css" %}" type="text/css" media="screen" rel="stylesheet" />

    <!-- or from a CDN -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="{% static "map/js/vendor/leaflet.js" %}"></script>
    <script type="text/javascript" src="{% static "map/js/osm_field.js" %}"></script>
    <script src="{% static 'map/js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'map/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'map/js/lightbox.min.js' %} "></script>
    <script src="{% static 'map/js/main.js' %} "></script>
    <script src="{% static 'map/js/navscripts.js' %} "></script>
  </head>
  <body>
    {{ form.media }}
    <form class="" action="" method="post">
      {{ form.location|as_crispy_field }}

      {{ form.location_lat|as_crispy_field}}
      {{ form.location_lon|as_crispy_field}}

    </form>

  </body>
</html>
